/* CSS existente */
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #003366;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

#nav-list {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6em;
  padding: 1rem 2rem;
}

a:hover {
  background-color: #005bb5;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  background-image: linear-gradient(to bottom, #0073e6, #ffffff);
}

h1 {
  color: #003366;
  font-size: 2.5rem;
  font-weight: 550;
}

#welcome-section > p {
  color: #003366;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 1rem 2rem 1rem 2rem;
}

.projects {
  margin: 0;
  padding: 8rem 2rem;
  text-align: center;
  background-color: #003366;
}

h2 {
  font-size: 3.2rem;
  color: #FFFFFF;
}

.project-img {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-tile {
  color: white;
  width: 100%;
  background-color: #0073e6;
  margin: 0;
  padding: 2rem 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 4rem;
}

#contact {
  background-color: #e0f7fa;
  width: 100%;
  height: 80vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 3.2rem;
  color: #003366;
}

#contact-p {
  color: #003366;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  margin-bottom: 1rem;
}

#contact-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#profile-link {
  color: #003366;
  text-decoration: none;
  font-size: 1.5rem;
  border: 2px solid #003366;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#profile-link:hover {
  background-color: #003366;
  color: #ffffff;
}


@media (max-width: 800px) {
  a {
    font-size: 1.2em;
    padding: 0.8rem 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  #welcome-section > p {
    font-size: 1.2rem;
    margin: 0.8;
  }

  .projects {
    padding: 4rem 1rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  #contact-p {
    font-size: 1rem;
  }

  #profile-link {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 600px) {
  #navbar {
    flex-direction: column;
  }

  #nav-list {
    flex-direction: column;
    align-items: center;
  }

  a {
    padding: 0.5rem 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  #welcome-section > p {
    font-size: 1rem;
    margin: 0.6rem;
  }

  .projects {
    padding: 3rem 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  #contact-p {
    font-size: 0.8rem;
  }

  #profile-link {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }
}
